../.venv
__pycache__/
*.pyc
*.pyo
*.pyd

.git
.gitignore

.idea/
.vscode/

.env
.env.*

.DS_Store

logs/

resources/

data/
chroma_db/
*.sqlite3

.pytest_cache/
.mypy_cache/
.ruff_cache/

dist/
build/